<div class="main">
  <div class="container">
    <h1>Add New Note</h1>
    <input type="text" placeholder="Title" [(ngModel)]="title" />
    <textarea
      placeholder="Description"
      class="description"
      [(ngModel)]="description"
    ></textarea>
    <button
      class="submit"
      (click)="handleSubmit()"
      [disabled]="title.length === 0 || description.length === 0"
    >
      Submit
    </button>
  </div>
</div>
<div *ngIf="notesData.length > 0">
  <ng-container *ngFor="let item of notesData">
    <app-note-item
      [item]="item"
      (updateNotesDataEmitter)="updateNotesDataEmitter()"
    ></app-note-item>
  </ng-container>
</div>
<img
  *ngIf="notesData.length === 0"
  class="no-data"
  alt="No Data"
  src="../../../assets/images/nodata.jpg"
/>
