<div class="loader-container" *ngIf="isLoading">
  <div class="loader"></div>
</div>
<div class="main">
  <div class="container">
    <h1>Add New Note</h1>
    <input type="text" placeholder="Title" [(ngModel)]="title" />
    <textarea
      placeholder="Description"
      class="description"
      [(ngModel)]="description"
    ></textarea>
    <button
      class="submit"
      (click)="handleSubmit()"
      [disabled]="title.length === 0 || description.length === 0"
    >
      Submit
    </button>
  </div>
</div>
<div class="search">
  <input
    type="text"
    placeholder="Search by title..."
    [(ngModel)]="search"
    (ngModelChange)="onSearch()"
  />
</div>
<div *ngIf="notesData.length > 0" class="note-items-container">
  <ng-container *ngFor="let item of filteredNotesData">
    <app-note-item
      [item]="item"
      (updateNotesDataEmitter)="updateNotesDataEmitter()"
      (isLoadingEmitter)="isLoadingEmitter($event)"
    ></app-note-item>
  </ng-container>
</div>
<img
  *ngIf="notesData.length === 0"
  class="no-data"
  alt="No Data"
  src="../../../assets/images/nodata.jpg"
/>
