<div class="loader-container" *ngIf="isLoading">
  <div class="loader"></div>
</div>
<div class="main">
  <div class="container">
    <h1>Add New Note</h1>
    <input type="text" placeholder="Title" [(ngModel)]="title" />
    <textarea
      placeholder="Description"
      class="description"
      [(ngModel)]="description"
    ></textarea>
    <button
      class="submit"
      (click)="handleSubmit()"
      [disabled]="title.length === 0 || description.length === 0"
    >
      Submit
    </button>
  </div>
</div>
<div class="search">
  <input
    type="text"
    placeholder="Search by title..."
    [(ngModel)]="search"
    (ngModelChange)="onSearch()"
  />
</div>
<div class="tabs-container">
  <button
    *ngFor="let tab of tabs"
    [ngClass]="selectedTab.label === tab.label ? 'active' : ''"
    (click)="selectedTab = tab; getAllNotes()"
    [disabled]="tab.label === selectedTab.label"
  >
    {{ tab.label }}
  </button>
</div>
<button
  class="deleteAll_button"
  *ngIf="selectedTab.field === 'deleted' && notesData.length > 0"
  (click)="deleteAll()"
>
  Delete All
</button>
<div
  *ngIf="notesData.length > 0 && filteredNotesData.length > 0"
  class="note-items-container"
>
  <ng-container *ngFor="let item of filteredNotesData">
    <app-note-item
      [item]="item"
      [selectedTab]="selectedTab"
      (updateNotesDataEmitter)="updateNotesDataEmitter()"
      (isLoadingEmitter)="isLoadingEmitter($event)"
    ></app-note-item>
  </ng-container>
</div>
<img
  *ngIf="notesData.length === 0 || filteredNotesData.length === 0 || isLoading"
  class="no-data"
  alt="No Data"
  src="../../../assets/images/nodata.jpg"
/>
