<div class="loader-container" *ngIf="isLoading">
  <div class="loader"></div>
</div>
<div class="main-container">
  <div class="signup-container">
    <h1><img src="../../../assets/images/user-profile.png" /> Login</h1>
    <form [formGroup]="loginForm">
      <input
        type="text"
        placeholder="Email"
        formControlName="email"
        class="form-control"
      />
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        class="form-control"
      />
      <button (click)="onLogin()" [disabled]="loginForm.invalid">Login</button>
    </form>
    <div class="loginOrSignupText">
      Don't have an account?
      <span (click)="redirectToSignup()"> Signup </span>
    </div>
  </div>
</div>
