<div class="note_container">
  <img
    src="../../../assets/images/message.png"
    id="icon"
    alt="Note Message Logo"
  />
  <div class="note_item">
    <div *ngIf="isEditModeEnabled">
      <input type="text" placeholder="Edit Title" [(ngModel)]="item.title" />
      <textarea
        type="text"
        placeholder="Edit Description"
        [(ngModel)]="item.description"
      ></textarea>
      <div class="editModeBtns">
        <button class="cancel_button" (click)="isEditModeEnabled = false">
          Cancel
        </button>
        <button
          class="save_button"
          (click)="onSaveItem('save')"
          [disabled]="
            item.title.trim().length === 0 ||
            item.description.trim().length === 0
          "
        >
          <img src="../../../assets/images/save.png" alt="Save Logo" />
          Save
        </button>
      </div>
    </div>

    <div class="single-note-container" *ngIf="!isEditModeEnabled">
      <div class="notesData">
        <h3 class="tex-wrap">{{ item.title }}</h3>
        <p class="tex-wrap">{{ item.description }}</p>
      </div>
      <div class="buttons">
        <button
          *ngIf="selectedTab.field === 'inprogress'"
          (click)="onSaveItem('complete')"
          class="markascomplete"
        >
          <img
            class="inprogressIcon"
            alt="Mark Complete Icon"
            title="Mark as complete"
            src="../../../assets/images/correct.png"
          />
          Mark as complete
        </button>
        <img
          *ngIf="selectedTab.field === 'inprogress'"
          class="editIcon"
          alt="Edit Logo"
          title="Edit"
          src="../../../assets/images/edit.png"
          (click)="isEditModeEnabled = true"
        />
        <button
          class="reopen"
          *ngIf="selectedTab.field === 'completed'"
          (click)="onSaveItem('reopen')"
        >
          <img src="../../../assets/images/revert.png" alt="revert back" />
          Re-open
        </button>
        <img
          *ngIf="
            selectedTab.field === 'inprogress' ||
            selectedTab.field === 'completed'
          "
          class="deleteIcon"
          alt="Delete Logo"
          title="Delete"
          src="../../../assets/images/delete.png"
          (click)="onDeleteItem()"
        />
      </div>
    </div>
  </div>
</div>
