<div class="main-container">
  <div class="loader" *ngIf="isLoading"></div>
  <div class="signup-container" *ngIf="!isLoading">
    <h1>Signup</h1>
    <form [formGroup]="signupForm">
      <input
        type="text"
        placeholder="Name"
        formControlName="name"
        class="form-control"
      />
      <input
        type="text"
        placeholder="Username"
        formControlName="userName"
        class="form-control"
      />
      <input
        type="text"
        placeholder="Email"
        formControlName="email"
        class="form-control"
      />
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        class="form-control"
      />
      <button (click)="onSignup()" [disabled]="signupForm.invalid">
        Signup
      </button>
    </form>
    <div class="loginOrSignupText">
      Don't have an account?
      <span (click)="redirectToLogin()"> Login </span>
    </div>
  </div>
</div>
